@import "./Variables.scss";

.auth-container {
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  .logo {
    img {
      position: relative;
      top: 2.5rem;
      height: 24px;
    }
  }
  .auth-form {
    width: 94%;
    position: relative;
    margin: auto;
    @media (min-width: 768px) {
      width: 420px;
    }
    &-title {
      color: $dark;
      font-weight: $bold;
      font-size: 1.25rem;
      text-align: center;
      margin-bottom: 1.5rem;
    }
    &-sub-title,
    &-message {
      color: $lightgray;
      font-size: 0.9375rem;
      text-align: center;
      margin: 0 0 1.5rem;
      background-color: rgba(0, 0, 0, 0.025);
      padding: 0.75rem;
      border-radius: 0.5rem;
      .success {
        color: #02f076;
      }
      p {
        margin: 0;
      }
      span {
        font-weight: $medium;
      }
      &.error {
        color: rgb(255, 58, 58);
      }
    }
    .copyright {
      font-size: 0.75rem;
      text-align: center;
      margin: 2rem 0 0;
    }
  }
  .check-terms {
    a {
      color: $purpleViolet;
      margin: 0.25rem 0 0;
      padding-left: 0.25rem;
      width: 98%;
      cursor: pointer;
      text-decoration: underline;
    }
  }
}
