.home-container, .subscriptions {
  min-height: 100vh;
  background-color: #f9f9f9;
  @media (min-width: 600px) {
    padding: 1.5rem;
  }
  .title {
    font-size: 1rem;
    margin-bottom: 1rem;
  }
}
.videos-container {
  display: flex;
  flex-wrap: wrap;
}
