@import "./Variables.scss";

.upload-video {
  .upload-file {
    width: 100%;
    margin: 1.5rem 0;
    max-width: 400px;
    height: 240px;
    border-radius: 0.25rem;
    border: 1px dashed #eee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    background-color: #fafafa;
    color: $graylite;
    outline: none;
    transition: border 0.24s ease-in-out;
  }
}
