$lightgray: #EEEFF4;
$white: #FFF;
$yellow: #e5b13a;
$black: #000;
$yellow: #feb60a;
$red: #ff0062;
$blue: #00dbf9;
$purpleViolet: #381385;

// fontweights
$medium: 500;
$bold: 700;

//fontsize
$base: 16px;
