$lightgray: #EEEFF4;
$graylite: #bdbdbd;
$gray: #606060;
$white: #FFF;
$black: #000;
$dark: #080e20;
$yellow: #feb60a;
$red: #ff0062;
$blue: #0081FE;
$purpleViolet: #381385;

// fontweights
$medium: 500;
$bold: 700;

//fontsize
$base: 1rem;
$medium: 0.875rem;
$small: 0.75rem;
