@import "../Variables.scss";

.header {
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 20%);
  img.logo {
    height: 24px;
    margin-right: 1.5rem;
  }
  a,
  span,
  button {
    position: relative;
    text-decoration: none;
    color: $dark;
    margin-right: 1rem;
    border: none;
    background: none;
    cursor: pointer;
    &.logout {
      color: $red;
    }
    &::after {
      content: "";
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      right: 0;
      height: 2px;
      transform: scaleX(0);
      background: #333;
      transition: 0.7s transform cubic-bezier(0.06, 0.9, 0.28, 1);
    }
    &:hover::after {
      transform: scaleX(1);
    }
  }
  .actions {
    &:hover {
      .acts {
        display: block;
      }
    }
    .user {
      border: 1px solid $lightgray;
      border-radius: 1rem;
      padding: 0.25rem 0.75rem;
      font-size: 0.75rem;
      font-weight: 500;
      color: $gray;
      cursor: pointer;
      transition: 0.5s;
      &:hover {
        border: 1px solid $graylite;
      }
      img {
        margin-right: 0.5rem;
        width: 14px;
      }
    }
    .acts {
      display: none;
      position: absolute;
      right: 1.5rem;
      background-color: #fff;
      padding: 2rem 1.5rem;
      z-index: 9;
    }
  }
  .mobile {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    @media (min-width: 600px) {
      display: none;
    }
    button.toggle {
      margin-right: 0;
    }
    .mobile-links {
      background-color: #fff;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: 9;
      box-shadow: 0 1px 4px $lightgray;
      padding: 1rem 0;
      .close-menu {
        margin-left: auto;
        display: block;
        padding: 0.5rem;
        margin-right: 1rem;
      }
      a,
      button {
        display: block;
        width: 100%;
        text-align: center;
        margin: 0.875rem 0;
      }
    }
  }
  .desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 1.5rem;
    height: 48px;
    @media (max-width: 599px) {
      display: none;
    }
  }
}
